repos:
  - repo: https://github.com/myint/autoflake
    rev: v2.1.1
    hooks:
      - id: autoflake
        name: Remove unused variables and imports
        language: python
        entry: autoflake
        types: [python]
        args:
          [
            "--in-place",
            "--remove-all-unused-imports",
            "--remove-unused-variables",
            "--expand-star-imports",
            "--ignore-init-module-imports",
          ]
        files: \.py$

  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: (isort) Sorting import statements
        args: [--settings-path=pyproject.toml]
        language: python
        types: [python]
        files: \.py$
        args: ["--profile", "black"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        name: (black) Format Python code
        args: [--config=pyproject.toml]
        language: python
        types: [python]

      - id: black-jupyter
        name: (black-jupyter) Format jupyter notebooks
        args: [--config=pyproject.toml]
        language: python
        types: [jupyter]
